* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/***navbox1***/
.nav-logo {
    height: 45px;
    width: 100px;
}
.logo {
    background-image: url("Amz-logo.png");
    background-size: cover;
    height: 45px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    padding: 6px;
}

/** navbox2 **/
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/** navbox3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 650px;
    height: 38px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
 
.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

/** navbox4 **/
.nav-language {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
    font-size: 0.85rem;
}


/** navbox5 **/
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
    display: inline;
}

/**navbox6 **/
.nav-cart i {
    font-size: 30px;
}
 .nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
 }

 /**PANEL**/
 .panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
 }

 .panel-all {
    margin-left: 0;
    font-weight: 600;
    font-size: 0.85rem;
 }

 .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
    z-index: 1000;
    margin: 0;
    color: black;
}
.panel-all:hover .dropdown-menu {
    display: block;
}
.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-menu li {
    padding: 8px 10px;
    cursor: pointer;
}
.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

 .panel-ops p {
    display: inline;
    margin-left: 15px;
    font-size: 14px;
 }

 .panel-ops {
    width: 70%;
    font-size: 0.85rem;
 }

 /***********************************header-slider************************************/
 .header-slider {
    position: relative;
}

.image-list {
    display: flex;
    overflow: hidden;
}

.image-item {
    min-width: 100%;
   /**transform: translateX(-300%);**/
    transition: transform 0.5s ease-in-out;
}

.image-item img {
    width: 100%;
    height: 100%;
}

.image-btn-slider {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-btn {
    border: 2px solid transparent;
    padding: 100px 20px;
    font-size: 50px;
    font-weight: 300;
    background-color: transparent;
    color: #000;
}

.slider-btn:focus {
    border-color: #2162a1;
    box-shadow: -2px -2px white,
    2px 2px 2px white;
    margin: 2px;
}

/**********************************  hero-section ************************************************/
.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    border: 2px;
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
}
.grid-item {
    width: 100%;
    height: 100px;
    overflow: hidden;
    justify-content: space-between;
    display: grid;

}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-img {
    height: 300px;
    width: 300px;
    background-size: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 12px;
    margin: 10px 0;
    align-items: center;
}

.box-content p {
    color: #007185;
}
.slider-container {
    
}

.slider-wrapper {
    display: flex;
}
.products-slider {
    display: flex;
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
    border: 2px solid black;
}
.products-slider .products {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;

}
.products-slider .products img {
    max-width: 200px;
    max-height: 200px;
}


.footer {
    margin-top: 15px;
}

.footer-panel {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.footer-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("Amz-logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footer-panel4 {
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    height: 80px;
}
 .pages {
    padding: 25px;
 }
   .copyright {
    padding: 5px;
   }